<div class="page-title">
  <div class="container">
    <h1 id="notifications-title">{{"alerts.notifications" | translate}} <span id="notifications-count" *ngIf="unreadCount >= 0">{{unreadCount}}</span></h1>
  </div>
</div>

<p class="notifications-empty" *ngIf="alertsLoaded && alerts?.length === 0">{{"alerts.none" | translate}}</p>

<div id="notifications-wrapper" *ngIf="alertsLoaded && alerts?.length > 0">
  <div id="notifications-col-1">

    <div class="notifications-header">
      <h2>
        <div id="notifications-select">
          <select [(ngModel)]="showNotifications" (ngModelChange)="toggleUnread()">
            <option value="all">{{"alerts.allnotifications" | translate}}</option>
            <option value="unread">{{"alerts.unread" | translate}}</option>
          </select>
        </div>
      </h2>

      <input id="notifications-search" type="text" [(ngModel)]="search" (ngModelChange)="filterByString()" />
    </div>

    <div class="notifications-panel">
      <ul class="notifications-list">
        <li class="notifications-item" *ngFor="let alert of alerts">
          <a class="notifications-link" (click)="setActive(alert.id)" *ngIf="!alert.hide" [ngClass]="{ 'current-notification': alert?.id === user_notification?.id }">
            <div class="image" [ngStyle]="{ 'background-image': 'url(' + alert?.notification.image + ')' }" *ngIf="!!alert?.notification.image"></div>
            <div class="content">
              <div class="title">{{alert?.notification.title}}</div>
              <div class="date">{{alert?.notification.created | date: 'dd/MM/yyyy'}}</div>
              <div class="body">{{alert?.notification.shorter_description}}</div>
              <div class="fullbody">{{alert?.notification.short_description}}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="notifications-col-2" class="notifications-item">
    <div class="notifications-header"></div>
    <div class="image" [ngStyle]="{ 'background-image': 'url(' + user_notification?.notification.image + ')' }" *ngIf="!!user_notification?.notification.image"></div>
    <div class="title">{{user_notification?.notification.title}}</div>
    <div class="date">{{user_notification?.notification.created | date: 'dd/MM/yyyy'}}</div>
    <div class="body">{{user_notification?.notification.short_description}}</div>
  </div>
</div>
