@import '../../../node_modules/bootstrap/scss/bootstrap';

.modal-header{
    border: none;
    padding-bottom: 0px;
}

.registration{
    @extend .d-flex;
    @extend .justify-content-start;
    @extend .py-2;
    font-size: small;
    text-align: left;
    
    .registration-button{
        @extend .pl-2;
        color: #00AFF0;
        cursor: pointer;
    }
}

.button-action{
    @extend .d-flex;
    @extend .justify-content-end;
    button{
        @extend .px-5;
        @extend .py-1;
        background-color: #00AFF0;
        border: none;
        border-radius: 2px;
        color: white;
        font-weight: bold;
    }
}