@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../conversations/conversations.component';

.page-title {
  background-image: url('/assets/images/bg-title-dark.png');
}

@include media-breakpoint-down(sm) {
  .page-title {
    margin-top: 120px;
  }
}

.see-all-conversations {
  margin-top: 55px;
}
