  <nav class="navbar navbar-inverse navbar-toggleable-md navbar-light main-nav">
      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <a class="navbar-brand" href="#">Navbar Brand</a> -->
      <div class="collapse.show navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item profile" [routerLinkActive]="['active']">
            <a [routerLink]="['/profile']">{{'navigation-bar-profile' | translate}}</a>
          </li>
          <li class="nav-item comments" [routerLinkActive]="['active']">
            <a [routerLink]="['/comments']">{{'navigation-bar-comments' | translate}}</a>
          </li>
        </ul>
      </div>


      <ul class="user-nav">
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}" class="profile">{% trans "Profile" %}</a></li>
            <li><a href="{% url 'user_notes' %}" class="notes">{% trans "Notes" %}</a></li>
            <!--<li><a href="{% url 'user_courses' %}" class="courses">{% trans 'Meus módulos' %}</a></li>-->
            <li><a href="{% url 'courses' %}" class="courses">Módulos</a></li>
            <li>
                {% verbatim %}
                <a class="messages" href="/messages/">
                    <span class="notification-bubble" ng-show="messages_unread_count">{{ messages_unread_count }}</span>
                    <span class="">Avisos</span>
                </a>
                {% endverbatim %}
            </li>
            <!--<li><a href="#" class="repositories">{% trans "Repository" %}</a></li>-->
            <li><a href="{% url 'discussion:forum-home' %}" class="forum">Fóruns</a></li>
            <!--<li><a href="#" class="help">{% trans "Help" %}</a></li>-->
            {% if user.is_superuser %}
                <li><a href="/cards" class="cards">Assim se faz</a></li>
            {% endif %}
            <li>
                {% verbatim %}
                <a class="chat" href="/paralapraca/chat">
                    <span class="notification-bubble" ng-show="chat.notifications">{{ chat.notifications }}</span>
                    <span class="">Chat</span>
                </a>
                {% endverbatim %}
            </li>

            {% if user.is_superuser %}
            <li class="submenu">
                <a class="admin"
                    ng-init="collapsedSubmenu=true"
                    ng-click="collapsedSubmenu=!collapsedSubmenu">
                    <span class="visible-xs-inline">Admin</span>
                    <span class="hidden-xs">Administração</span>
                </a>
                <ul uib-collapse="collapsedSubmenu">
                    <li><a href="{% url 'administration.courses' %}" id="admin-link">Módulos</a></li>
                    <li><a href="{% url 'administration.users' %}" id="admin-link">Usuários</a></li>
                    <li><a href="{% url 'general_reports' %}" id="admin-link">Relatórios</a></li>
                    <!--<li><a href="{% url 'administration.users' %}">{% trans 'Usuários e grupos' %}</a></li>-->
                </ul>
            </li>
            {% elif user|is_coordinator %}
            <li class="submenu">
                <a href="{% url 'administration.courses' %}">
                    {% trans "Admin" %}
                </a>
            </li>
            {% endif %}
            <li><a href="{% url 'timtec_logout' %}" class="logout">{% trans "Logout" %}</a></li>
        {% else %}
            <li><a href="{% url 'courses' %}" class="courses">{% trans 'Módulos' %}</a></li>
            <li>
                <a href="#" class="dropdown-toggle login" data-toggle="dropdown">{% trans 'Sign In' %}</a>
                {% include '_login_modal.html' %}
            </li>
            <li>
            {% block header_signup_link %}
                <a href="#" class="dropdown-toggle register" data-toggle="dropdown">{% trans 'Sign Up' %}</a>
                {% include '_signup_modal.html' %}
            {% endblock %}
            </li>
        {% endif %}
        </ul>

        <div class="site-info">
            <ul class="site-nav">
                {% block header_site_nav %}
                <li><a href="/pages/sobre">{% trans 'About' %}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modal-contact">{% trans 'Contact' %}</a></li>
                <li><a href="/accept_terms">Termos de Uso</a></li>
                {% endblock %}
            </ul>
            <!--<div class="legal-text">-->
                <!--{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in aliquam eros.' %}-->
            <!--</div>-->
        </div>


  </nav>
