<nav class="main-nav">

    <ul class="user-nav">
        <li >
            <div class="profile">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" alt="Some user" class="img-circle">
        </div>
            <a routerLink="/profile" >
            
            {{'navigation-bar-profile' | translate}}</a>
            
        </li>
        <!-- <li><a routerLink="/notes" class="fa fa-pencil-square-o">Notes</a></li> -->
        <!-- <li><a href="/courses" class="fa fa-puzzle-piece">Conversas</a></li> -->
        <li>
            <a [routerLink]="['/comments']" class="comments fa fa-bullhorn">
                <span class="notification-bubble">5</span>
                <span class="">{{'navigation-bar-my-votes' | translate}}</span>
            </a>
        </li>
        <!-- <li><a href="/discussion/forum-home/" class="fa fa-quote-left">Fóruns</a></li> -->
        <!-- <li><a href="/cards" class="cards">Assim se faz</a></li> -->
        <li>
            <a [routerLink]="['/comments']" class="fa fa-commenting">
                <span class="notification-bubble" >1</span>
                <span class="">Conversas</span>
            </a>
        </li>
        <li><a routerLink="/logout" class="fa fa-sign-out">{{'navigation-bar-logout' | translate}}</a></li>
    </ul>

    <div class="site-info">
        <ul class="site-nav">
            <li><a href="/pages/sobre">About</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal-contact">Contact</a></li>
            <li><a href="/accept_terms">Termos de Uso</a></li>
        </ul>
    </div>

  </nav>
