@import '../../../node_modules/bootstrap/scss/bootstrap';

.container{
    @extend .my-5;
    @extend .pt-3;
    @extend .pb-5;

    text-align: center;
    background-color: #f5f5f5;
    h1{
        @extend .pt-4;

        color: lightslategray;
    }
    h3{
        @extend .pt-2;

        color: lightgray;
    }
    .cards{
        @extend .pt-3;
        .card{
            border: none;
            background-color: #f5f5f5;
            .rounded-circle{
                padding: 5%;
                background-color: white;
            }
        }
        .card-header{
            background-color: #f5f5f5;

            border: none;
        }
        .card-footer {
            background-color: #f5f5f5;
            border: none;
        }
    }
}