<div class="how-it-works">
    <h1>{{'how-it-works.title' | translate }}</h1>
    <h2>{{'how-it-works.subtitle' | translate }}</h2>

    <div class="how-it-works__cards">
        <article class="how-it-works__card">
            <img class="how-it-works__card-icon" src="/assets/images/icons/committee.svg" alt="committee">
            <h1>{{ 'how-it-works.committee.title' | translate }}</h1>
            <p>{{ 'how-it-works.committee.title' | translate }}</p>
            <button *ngIf="isChatActive()" class='rocket' (click)="gotoRocket()">
                <i class="fa fa-comment"></i>
                {{ 'how-it-works.button.rocket' | translate }}
            </button>
        </article>

        <article class="how-it-works__card">
            <img class="how-it-works__card-icon" src="/assets/images/icons/debate.svg" alt="committee">
            <h1>{{ 'how-it-works.debate.title' | translate }}</h1>
            <p>{{ 'how-it-works.debate.subtitle' | translate }}</p>
            <button *ngIf="isChatActive()" class='debate' (click)="gotoGroups()">
                {{ 'how-it-works.button.debate' | translate }}
            </button>
        </article>

        <article class="how-it-works__card">
            <img class="how-it-works__card-icon" src="/assets/images/icons/conversations.svg" alt="conversations">
            <h1>{{ 'how-it-works.conversations.title' | translate }}</h1>
            <p>{{ 'how-it-works.conversations.subtitle' | translate }}</p>
            <button *ngIf="isChatActive()" class='debate' (click)="gotoGroups()">
                {{ 'how-it-works.button.conversations' | translate }}
            </button>
        </article>
    </div>
</div>