<div class="modal-container">
  <div class="modal-header">
    <h4 *ngIf="currentStep === 'STEP_THREE' || currentStep === 'STEP_FIVE' || currentStep === 'STEP_THIRTEEN'" class="modal-title pull-left" [innerHTML]="'step.three.title' | translate"></h4>
    <h4 *ngIf="currentStep === 'STEP_EIGHT' || currentStep === 'STEP_ELEVEN'" class="modal-title pull-left" [innerHTML]="'step.eight.title' | translate"></h4>
  </div>
    
  <h4 class="subject" *ngIf="conversation">{{ 'step.three.subject' | translate }} : {{ conversation.title }}</h4>
  
  <div class="conversation" *ngIf="conversation">
    <div class="conversation-opinion-stage">{{ conversation.description }}</div>
      
    <div class="conversation-comments">
      <div *ngIf="currentStep === 'STEP_THREE' || currentStep === 'STEP_FIVE' || currentStep === 'STEP_THIRTEEN'">
        <div class="comment-card" *ngIf="comment">
          <p class="comment-author">
            <img src="{{comment.author.image_url}}" alt="" />
            <span>{{ comment.author.name.length ? comment.author.name : comment.author.username }}</span>
          </p>
          <p class="comment-text">{{ comment.content }}</p>
          <ul class="comment-actions">
            <li (click)="vote(comment, 'agree')">{{ "conversation.vote.agree" | translate }}</li>
            <li (click)="vote(comment, 'pass')">{{ "conversation.vote.skip" | translate }}</li>
            <li (click)="vote(comment, 'disagree')">{{ "conversation.vote.disagree" | translate }}</li>
          </ul>
        </div>
    
        <div class="comment-card" *ngIf="!comment">
          <p class="comment-text">{{ "conversation.nocomments" | translate }}</p>
        </div>
      </div>

      <div class="new-comment" *ngIf="currentStep === 'STEP_EIGHT' || currentStep === 'STEP_ELEVEN'">
        <textarea [(ngModel)]="newCommentText" (click)="clearComment()" id="new-comment" placeholder="{{ 'conversation.newcomment' | translate }}"></textarea>
        <p class="comment-message">
          <span *ngIf="newCommentSuccess === null">&nbsp;</span>
          <span *ngIf="newCommentSuccess === true">{{ "conversation.newcommentsuccess" | translate }}</span>
          <span *ngIf="newCommentSuccess === false">{{ "conversation.newcommentfail" | translate }}</span>
        </p>
        <p><button (click)="sendComment()">{{ "conversation.addcomment" | translate }}</button></p>
      </div>
    </div>
  </div>
</div>
