
  ul {
    &.info{
      float: left;
      li {
        margin-left: 30px;
      }
    }
    &.social-media{
      float: right;
    }
    list-style: none;
    li {
      display: inline;
    }
  }