<div class="page-title" *ngIf="!isHome">
    <div class="container">
        <h1> {{ pageTitle }} </h1>
    </div>
</div>

<div *ngIf="isHome">
  <app-conversations></app-conversations>
  <iframe [src]="polis_url | safe" [height]="iframeHeight" frameborder="0" scrolling="no"></iframe>
  <br>
  <br>
  <br>
  <app-home-slider></app-home-slider>
  <br>
  <iframe class="container" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbrasilqueopovoquer%2Fvideos%2F177133719513749%2F&width=500&show_text=false&appId=809163362566186&height=280" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>

<div *ngIf="!isHome">
  <iframe [src]="polis_url | safe" [height]="iframeHeight" frameborder="0" scrolling="no"></iframe>
  <app-conversations></app-conversations>
</div>
