<div class="modal-header">
    <h4 class="modal-title pull-left" translate>{{'step.three.title'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="page-title" *ngIf="conversation">
  <div class="container">
    <h1>{{ 'step.three.subject' | translate }} : {{ conversation.title }}</h1>
  </div>
</div>

<div class="conversation" *ngIf="conversation">
  <div class="conversation-opinion-stage">{{ conversation.description }}</div>
    
  <div class="conversation-comments">
    <div class="comment-card" *ngIf="comment">
      <p class="comment-author">
        <img src="{{comment.author.image_url}}" alt="" />
        <span>{{ comment.author.name.length ? comment.author.name : comment.author.username }}</span>
      </p>
      <p class="comment-text">{{ comment.content }}</p>
      <ul class="comment-actions">
        <li (click)="vote(comment, 'agree')">{{ "conversation.vote.agree" | translate }}</li>
        <li (click)="vote(comment, 'pass')">{{ "conversation.vote.skip" | translate }}</li>
        <li (click)="vote(comment, 'disagree')">{{ "conversation.vote.disagree" | translate }}</li>
      </ul>
    </div>
    
    <div class="comment-card" *ngIf="!comment">
      <p class="comment-text">{{ "conversation.nocomments" | translate }}</p>
    </div>
  </div>
</div>
    