<div class="footer-content">
    <div>
        <h2>RODAPÉ</h2>
        <p>(...)</p>
    </div>
    <div class="right-content">
        <p>Divulgue!</p>
        <ul class='social-media'>
            <li>
                <a class="btn btn-social-icon btn-facebook" href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>

            <li>
                <a class="btn btn-social-icon btn-twitter" href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-social-icon btn-whatsapp" href="#">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-social-icon btn-telegram" href="#">
                    <i class="fa fa-telegram"></i>
                </a>
            </li>
        </ul>

    </div>
</div>