<ul class='sponsors'>
    <li><a target="_blank" href="https://fpabramo.org.br/" ><img src="/assets/images/footer/logo-fundacao-perseu-abrantes.png" class="logo"></a></li>
    <li><a target="_blank" href="http://www.institutolula.org/" ><img src="/assets/images/footer/logo-instituto-lula.png" class="logo"></a></li>
    <li><a target="_blank" href="http://www.pt.org.br/" ><img src="/assets/images/footer/logo-partido-dos-trabalhadores.png" class="logo"></a></li>
</ul>
<div class="footer-content" [ngStyle]="styles ? { 'background-color': '#4a4a4a' } : {}">
    <p>coe</p>
</div>
