
@import '../../../node_modules/bootstrap/scss/bootstrap';

.conversation-filter{
    float: right;
}

:host /deep/ .modal-content{
    border: 1px solid #979797;	
    border-radius: 2px;	
    background-color: #EEEEEE;
}

:host /deep/ .pagination{
    @extend .justify-content-center;
    @extend .mt-4;
    display: flex;
}

:host /deep/ ngb-tabset{

    .nav {
        border: none;
        padding: 0px 30px;
        
        @media screen and (max-width: 1024px){
            padding: 0 15px;

            .nav-item{
                width: 100%;

                a{ padding: 1rem !important; }
            }
        }    

        @media screen and (max-width: 40em){
            padding-top: 15px;
        }            
        
        .nav-item {
            .nav-link{
                padding: 1.5rem;
                text-transform: uppercase;
                border-left: 6px solid #ECECEC;
                color: #9F9F9F;

                &.active {
    
                    background-color: #7ED321;
                    color: white;
                }
            }
        }
    }
    .tab-content{
        margin: 0 48px;

        @media screen and (max-width: 1024px){
            margin: 0 30px;    
        }

        ul{
            margin: 0px;
            padding: 0px;
        }

        li{
            list-style: none;
        }
    }
}
