<div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title">{{ badge.title | translate }}</h4>
    </div>
    <div class='subtitle'>{{ badge.subtitle | translate }}</div>
    <div class='image'>
      <img onError="this.src='/assets/images/badges/default.svg'" [src]="badge.imagePath">
    </div>
    <div class='name' [innerHTML]="badge.name | translate:{level: badge.currentLevel}"></div>
    <div class='detail' >{{badge.detail | translate }}</div>
    <div class='action'>
      <button class="button green" (click)="save()">
          {{ badge.buttonName | translate }}
      </button>
    </div>
</div>
