<ul id="top-right-menu" class="user-tools">
    <li>
        <a class="notifications active" (click)="toggleAlerts()">
            <!-- <span class="notification-bubble">3</span> -->
            <img src="/assets/images/icons/notification_off_icon.svg" *ngIf="alerts.length === 0" alt="{{'alerts.off' | translate}}" >
            <img src="/assets/images/icons/notification_on_icon.svg" *ngIf="alerts.length > 0" alt="{{alerts.length}}" >
            <span class="hidden-xs" translate>{{"alerts.notifications"}}</span>
        </a>
    </li>
</ul>
        
<div id="notification-wrapper" [ngClass]="{'alerts-opened': isCollapsed}">
    <div class="notifications-panel">
        <h2 class="notifications-title">&nbsp;</h2>
        <p class="notifications-empty" *ngIf="alerts.length === 0">{{"alerts.none" | translate}}</p>
        <ul class='notifications-list'>
            <li class="notifications-item" *ngFor="let alert of alerts">
                <div class='title'>{{alert.title}}</div>
                <div class='body'>{{alert.body}}</div>
            </li>
        </ul>
        <a class="see-more">
            <div class='text'>
                {{"alerts.all" | translate}}
            </div>
        </a>
    </div>
</div> 
