<div class="page-title">
    <div class="container">
        <h1>{{'comments.topic' | translate}}</h1>
    </div>
</div>

<tabset>
    <tab heading="Rejeitados" (select)="loadRejectedComments()">
      <ul *ngFor="let comment of comments">
        <li>
          <app-comment [comment]="comment"></app-comment>
        </li>
      </ul>
    </tab>
    <tab heading="Aguardando Moderacao" (select)="loadModeratedComments()">
      <ul *ngFor="let comment of comments">
        <li>
          <app-comment [comment]="comment"></app-comment>
        </li>
      </ul>
    </tab>
    <tab heading="Aprovados" (select)="loadApprovedComments()">
      <ul *ngFor="let comment of comments">
        <li>
          <app-comment [comment]="comment"></app-comment>
        </li>
      </ul>
    </tab>
 
  </tabset>