<div class="page-title">
    <div class="container">
        <h1>{{'comments.topic' | translate}}</h1>
    </div>
</div>

<tabset>
    <tab heading="Rejeitados" customClass="tab-comments">comentarios rejeitados</tab>
    <tab heading="Aguardando Moderacao" customClass="tab-comments">comentarios sendo moderados</tab>
    <tab heading="Aprovados" customClass="tab-comments">comentarios aprovados</tab>
 
  </tabset>
   <!-- <tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      {{tabz?.content}}
    </tab> -->
<ul *ngFor="let comment of comments">
  <li>
    <app-comment [comment]="comment"></app-comment>
    <!-- <h2>{{comment.id}}</h2>
    {{comment.content}} -->
  </li>
</ul>
